@font-face {
  font-family: "Gravedigger";
  src: url('../fonts/gravedigger.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFAFA;
}

.login-box {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 10px #CCCCCC;
}

.logo {
  font-family: "Gravedigger";
}
