.products {
  margin: 2% auto;
}

.product-row {
  display: block;
}

.product {
  display: inline-block;
  margin: 0.5%;
  width: 23%;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(50, 50, 50, 0.2);
  box-shadow: 1px 1px 10px #CCCCCC;
  text-align: center;
  padding: 2% 0;
}

.product-name {
  display: block;
  color: #708090;
  padding: 1% 0;
}

.product-price {
  display: block;
  color: #191970;
  font-weight: bold;
  font-size: 1.2em;
  padding: 5% 0;
}

.product > img {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  padding: 5% 0;
  border-radius: 5px;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 3% 5%;
  margin: 1% auto;
  background-color: #483D8B;
  border-radius: 5px;
}
